/* Responsive for Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero_right {
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .hero_section {
    display: flex;
    flex-direction: column-reverse;
  }

  img.hero_img {
    margin-top: 3em;
    width: 100%;
    height: 85em;
  }

  p.last_para {
    margin: 3em 10em 3em 10em;
    text-align: center;
  }

  img.slider_img {
    width: 30em;
    height: 20em;
  }

  h2.right_h2 {
    margin-top: 2em;
  }

}